#auth.login {
  display: flex;
  flex-wrap: wrap;
}

form#login {
  align-self: flex-start;
  justify-items: center;
  flex-direction: row;
  display: grid;
  grid-template-rows: repeat(fit-content, minmax(.5fr,1fr));
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
}

#login label {
  width: 100%;
  margin-top: 6%;
  align-self: flex-end;
}

#login .icon {
  left: 1vmin;
}

#login .icon:first-of-type {
  grid-row: 2 / 3;
}

#login .icon#lock {
  grid-row: 5 / 6;
}

#login .icon.eye {
  left: auto;
  right: 1vmin;
  grid-row: 5 / 6;
  padding: 1%;
}

#login input {
  text-indent: calc(1.8rem);
}

#login .error {
  justify-self: flex-start;
  margin-bottom: 6%;
}

#login button {
  align-self: flex-end;
  margin-top: 5%;
}

#login #link {
  justify-self: center;
}
