#auth {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--color-white);
  font-size: 1.6rem;
  color: var(--color-black-olive);
  box-sizing: border-box;
  overflow-y: auto;
}

#auth header {
  width: 100%;
  height: fit-content;
  justify-self: flex-start;
  box-sizing: border-box;
  margin: 0;
  flex: 0 0 auto;
  position: relative;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  color: var(--color-d-grey);
}

#back:hover {
  color: var(--color-rusty-red);
}

#title {
  font-size: 2.3rem;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 1%;
  justify-self: center;
  box-sizing: border-box;
  line-height: 3rem;
  display: inline-block;
  vertical-align: top;
}

form#register,
form#login {
  width: 90%;
  max-width: 430px;
  align-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
}

#auth fieldset {
  width: 100%;
  height: fit-content;
  padding: 0;
  border: none;
  margin: 2vmin 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  flex: 0 0 content;
}

#auth label {
  flex: 0 0 content;
  padding: 1.4% 0;
}

fieldset:not(:disabled) label:not(label[for="is-guest-checkbox"])::after {
  content: ' *';
  color: red;
  font-size: 1.7rem;
  height: auto;
}

#auth .icon {
  position: absolute;
  z-index: 99;
  font-size: 1.8rem;
  padding: 1% 0;
}

#auth input {
  border-width: .14rem;
  border-style: solid;
  border-color: #858585;
  box-sizing: border-box;
  outline: none;
  color: var(--color-grey);
  width: 100%;
  padding: .5rem;
  border-radius: .4rem;
  line-height: 2rem;
  font-size: 1.4rem;
  font-family: 'PT Serif', serif;
  transition: border .1s;
}

#auth input:focus {
  border-color: var(--color-rusty-red);
}

#auth input:disabled {
  border-color: transparent;
  background-color: rgba(53, 55, 52, .1);
}

#auth input::placeholder {
  font-size: 1.2rem;
}

#auth input:not(:placeholder-shown):valid {
  border-color: var(--color-emerald);
}

#auth input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(220, 46, 66, .3);
}

#auth p.error {
  color: #ed0000;
  font-size: 1.3rem;
  margin: 0;
  height: 1.5rem;
  box-sizing: border-box;
  flex: 1 0 80%;
}

#auth p.error.hidden,
#auth input:disabled + p.error,
#confirm-pass:valid + #confirm-pass-error:valid
{
  visibility: hidden;
}


#auth button {
  border: none;
  border-radius: .3rem;
  padding: 3% 0;
  box-sizing: border-box;
  width: 60%;
  font-weight: 600;
  align-self: center;
}

#auth button:hover {
  background-color: transparent;
  color: var(--color-rusty-red);
  transition: all .2s;
}

#auth #link {
  align-self: center;
  justify-self: flex-end;
  font-size: 1.4rem;
  margin: 4% 0 0;
}

#auth #link-login, #auth #link-register {
  text-decoration: none;
  color: var(--color-violet-ryb);
}

@media only screen and (min-width: 500px) {
  #auth form#register fieldset {
    margin: 1.6vmin 0;
  }

  #auth input {
    border-width: .2rem;
  }

  #auth button {
    padding: 2.2% 0;
  }
}