#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

header {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

header .content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: "icon pname pname score" 1fr "icon lvl . pscore" 1fr / 1fr 2fr 2fr 1fr;
  column-gap: 3%;
  padding: 1.5%;
  box-sizing: border-box;
  align-items: center;
}

#user-name {
  grid-area: pname;
  font-size: 16px;
}

#level {
  grid-area: lvl;
}

#score-text {
  font-size: 20px;
  text-align: right;
  grid-area: score;
}

#player-score {
  grid-area: pscore;
  margin-right: 3%;
  text-align: right;
}

nav.button-container {
  width: 100%;
  max-width: 640px;
  flex: 0 0 auto;
  align-self: center;
  justify-self: center;
}

.button-container a, .button-container > button.home {
  width: 84%;
  margin: 1.6% 8%;
  display: inline-block;
  box-sizing: border-box;
}

button.home {
  border: none;
  border-radius: 5%;
  padding: 3%;
  width: 100%;
  border-radius: .6rem;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

button.home:hover {
  font-weight: 600;
  background-color: transparent;
  color: var(--color-white);
  transition: all .2s;
}

@media only screen and (min-width: 900px) {
  header .content {
    padding: 1%;
  }
}

@media only screen and (min-width: 580px) {
  .button-container a {
    margin: .7% 8%;
  }
}

@media only screen and (min-width: 480px) {
  header .content {
    grid-template-columns: 68px 2fr 2fr 1fr;
    column-gap: 1%;
  }

  .button-container a {
    margin: 1% 8%;
  }

  button.home {
    padding: 2%;
  }

}