form#register {
  flex: 0 0 content;
  overflow-y: auto;
}

form#register fieldset {
  min-width: min-content;
}

#register .icon {
  top: 45%;
  left: 1vmin;
}

#register input {
  text-indent: calc(1vmin + 1.3rem);
}

#register #cb-container {
  margin: 1vmin 0;
  width: 30%;
}

#is-guest-checkbox {
  width: 2rem;
  height: 2rem;
  fill: transparent;
  stroke: var(--color-white);
  stroke-width: 3px;
  border-radius: .2rem;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 3% 0 1%;
}

#is-guest-checkbox.checked {
  background-color: var(--color-rusty-red);
}

#is-guest-checkbox.unset {
  background-color: var(--color-white);
  border: var(--color-d-grey) .2rem solid;
}

#register #cb-label {
  width: fit-content;
  line-height: 1.6rem;
  vertical-align: middle;
}

#register #password, #register #confirm-pass {
  width: 65%;
  margin-right: 35%;
}

#confirm-pass:focus + #confirm-pass-error {
   visibility: hidden;
 }

#register button {
  margin-top: 2vmin;
}

#link-login {
  justify-self: center;
}